
.cadie {
    /*Background options:*/
    background-image: url('Images/darth_vader_RogueOne_background.jpg');
    /*background-image: url('Images/darth_vader_background.jpg');    
        ^^ I like this image more I think, but need to get it to not repeat itself
    */
}
h2 {
    color: white;
}
p{
    color:slategray;
}