
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Dark Side...</h2>
<body class="cadie">
    <div class="jumbotron"> <!--Let's try to get the jumbotron to be semi-transparent...-->

    </div>
</body>